body {
  font-family: sans;
}

a, a:visited {
  color: #0021a5;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #8b9ad6;
}

th, td {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

th {
  padding-top: 0;
}

label {
  display: block;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

input[type="text"], select, textarea {
  display: block;
  width: 500px;
}

textarea {
  height: 100px;
}

li form {
  display: inline;
}

li form input {
  margin: 5px;
}

ul#nav {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  text-decoration: none;
  border: none;
  padding: 10px;
}

ul#nav li a:hover {
  background: #eee;
}

.replaced {
  text-decoration: line-through;
}
