[% SET title = "Edit Step: ${step.name}" -%]

<form action="[% c.uri_for(c.controller.action_for('edit'), step.uri_args) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE steps/includes/step.tt %]
[% END -%]
  <input type="submit" class="submit" value="Edit Step" />
</form>
