[% DEFAULT
   show_group = 0
-%]

[%- action.status.name | html %] at [% action.step.name | html -%]
[% IF show_group %]
  [% SET group = action.group %]
  [% IF group %]<br />([% group.name | html -%])[% END %]
[% END -%]
