[% SET title = 'Statuses' -%]

[% IF statuses.count > 0 %]
<h3>Current statuses</h3>
<ul>
  [% WHILE (status = statuses.next) %]
  <li>[% status.name | html %][% IF status.continues_request %] (continues to next step)[% ELSIF status.finishes_request %] (finishes request)[% END %]</li>
  [% END %]
</ul>
[% ELSE %]
<p>None yet.</p>
[% END %]

<p><a href="[% c.uri_for(c.controller.action_for('add')) | html %]">Add new status</a></p>
