[% IF c.check_user_roles('Administrator') %]
<ul id="navigation">
  [% FOREACH name IN [ 'Users', 'Groups', 'Processes', 'Statuses' ] %]
  <li><a href="[% c.uri_for(c.controller(name).action_for('index')) | html %]">[% name | html %]</a></li>
  [% END %]
</ul>
[% END %]
