The change was entered by [% actor.username %].[% IF comment %] Their comment:

[% comment | wrap(68) | indent('    ') %]
[% END -%]
[% IF previous_title %]
Previous title: [% previous_title %]
[% END -%]
[% IF previous_description %]
Previous description: 
[% previous_description %]
[% END -%]
