[% IF replaced_document %] [% new_document.name %] has replaced [% replaced_document.name %].                                                                                                   [% ELSE %]                                                                                                                                                                                      [% new_document.name %]                                                                                                                                                                         [% END -%]