[% USE wrap -%]
[% IF c.config.email.note -%]
NOTE: [% wrap(c.config.email.note) %]
[% END -%]

Title
    [% request.title %]
Process
    [% request.process.name %]
Status
    [%+ INCLUDE requests/includes/status.tt action = request.current_action %]
Submitter
    [% request.submitter.display_name %] <[% request.submitter.email %]>
Created
    [% request.insert_time.strftime(datetime_format) %]
Updated
    [% request.update_time.strftime(datetime_format) %]
