[% DEFAULT
   field_id    = ''
   field_name  = 'status_id'
   field_label = 'Status'
-%]

<label>[% field_label | html %]:
  <select name="[% field_name | html %]"[% IF field_id %] id="[% field_id | html %]"[% END %]>
    <option value=""></option>
[% WHILE (status = statuses.next) %]
    <option value="[% status.id | html %]">[% status.name | html %]</option>
[% END %]
  </select>
</label>
