<label>Title: <input type="text" name="title" value="[% request.title | html %]" maxlength="64" /></label>
<label>Description: <textarea name="description">[% request.description | html | escape_newlines %]</textarea></label>