[% USE Textile %]
[% SET
   title = "$version.title version #$version.num details"
-%]

[% INCLUDE requests/includes/details.tt 
   heading = "Version #$version.num details"
   show_edit = 0
   show_status = 0
   request = version
   process = version.request.process
%]
