[% SET title = 'Error' -%]

<p>We're sorry, but an error occurred. Please try again. If the problem persists, please email <a href="mailto:[% c.config.email.admin_address | html %]">[% c.config.email.admin_address | html %]</a> for assistance.</p>
