[% SET title = 'Add Group' -%]

<h3>Group details</h3>
<p>To add a new group, provide the name of the group and, optionally, a parent group. Members of parent groups see requests for their constituent groups.</p>
<form action="[% c.uri_for(c.controller.action_for('add')) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE groups/includes/group.tt field_value = c.req.param('parent_group_id') %]
[% END -%]
  <input type="submit" class="submit" value="Add Group" />
</form>
