[% DEFAULT
   field_id    = ''
   field_name  = 'role_id'
   field_label = 'Role'
-%]
<label>[% field_label | html %]:
  <select name="[% field_name | html %]"[% IF field_id %] id="[% field_id | html %]"[% END %]>
[% WHILE (role = roles.next) %]
    <option value="[% role.id | html %]"[% IF role.id == field_value %] selected="selected"[% END %]>[% role.name | html %]</option>
[% END %]
  </select>
</label>
