<label>Role:
  <select name="role_id">
[% WHILE (role = roles.next) %]
    <option value="[% role.id | html %]"[% IF role.id == selected_role.id %] selected="selected"[% END %]>[% role.name | html %]</option>
[% END %]
  </select>
</label>
