[% DEFAULT show_group = 0 %]
[% action.status.name | html %] at [% action.step.name | html -%]
[% IF show_group %]
  [% SET groups = action.groups %]
  [% IF groups %]<br />([% groups.first.name | html -%])[% END %]
[% END -%]
