[% IF replaced_document %]
[% document.name %] has replaced [% replaced_document.name %].
[% ELSE %]
[% document.name %]
[% END -%]
[% IF removed_document %]
[% document.name %] was removed.
[% END -%]
[% IF recovered_document %]
[% document.name %] was recovered for the request.
[% END -%]