[% SET title = 'Users' -%]

<h2>Current users</h2>
[% IF users.count > 0 %]
<ul>
  [% WHILE (user = users.next) %]
  <li><a href="[% c.uri_for(c.controller.action_for('view'), [ user.uri_args ]) | html %]">[% user.username | html %]</a></li>
  [% END %]
</ul>
[% END %]

<p><a href="[% c.uri_for(c.controller.action_for('add')) | html %]">Add new user</a></p>
