[% SET title = "Add Users to ${role.name}" -%]

<p>Add users to the <a href="[% c.uri_for(c.controller.action_for('view'), [ role.uri_args ]) | html %]">[% role.name | html %]</a> role of the <a href="[% c.uri_for(c.controller('Groups').action_for('view'), [ role.group.uri_args ]) | html %]">[% role.group.name | html %]</a> group by specifying their usernames below. Enter one per line.</p>
<form action="[% c.uri_for(c.controller.action_for('add_users'), [ role.uri_args ]) | html %]" method="post">
  <textarea name="usernames"></textarea>
  <input type="submit" value="Add Users" />
</form>
