[% SET title = "Edit ${role.name} Role" -%]

<form action="[% c.uri_for(c.controller.action_for('edit'), [ role.uri_args ]) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE roles/includes/role.tt %]
[% END -%]
  <input type="submit" value="Edit Role" />
</form>
