[% SET title = 'Error' -%]

<p>We're sorry, but an error occurred. The administrators have been notified and will be looking into the problem as soon as possible.</p>
<p>Please try again shortly. If the problem persists, please email <a href="mailto:[% c.config.email.admin_address | html %]">[% c.config.email.admin_address | html %]</a> for assistance.</p>
