[% SET title = 'Add New User' -%]

<h3>User details</h3>
<p>To add a user, provide his or her username. After the account is created, you can modify the user's roles.</p>
<form action="[% c.uri_for(c.controller.action_for('add')) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE users/includes/user.tt %]
[% END -%]
  <input type="submit" class="submit" value="Add User" />
</form>
