[% SET title = "Edit ${process.name} Process" -%]

<h3>Process details</h3>
<form action="[% c.uri_for(c.controller.action_for('edit'), process.uri_args) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE processes/includes/process.tt %]
[% END -%]
  <input type="submit" class="submit" value="Edit Process" />
</form>
