[% SET title = 'Add Group' -%]

<form action="[% c.uri_for(c.controller.action_for('add')) | html %]" method="post">
[% INCLUDE groups/includes/group.tt %]
  <input type="submit" value="Add Group" />
</form>
