[% SET title = "Edit ${group.name}" -%]

<form action="[% c.uri_for(c.controller.action_for('edit')) | html %]" method="post">
[% INCLUDE groups/includes/group.tt %]
  <input type="submit" value="Edit Group" />
</form>
