[% SET title = 'Add New User' -%]

<h3>New User details</h3>
<p>To add a users, provide each person's Gatorlink ID or UFID, one per line</p>
<form action="[% c.uri_for(c.controller.action_for('add')) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE users/includes/user.tt %]
[% END -%]
  <input type="submit" class="submit" value="Add Users" />
</form>
