[% SET title = 'Add Process' -%]

<form action="[% c.uri_for(c.controller.action_for('add')) | html %]" method="post">

[% FILTER indent('  ') %]
  [% INCLUDE processes/includes/process.tt %]
[% END -%]
  <input type="submit" value="Add Process" />
</form>
