<input type="hidden" name="process_id" value="[% process.id | html %]" />
[% IF field %]
[% INCLUDE requests/includes/fields.tt %]
[% END %]
[% IF groups.count == 1 -%]
<input type="hidden" name="group_id" value="[% groups.first.id | html %]" />
[% ELSE %]
  [% INCLUDE groups/includes/groups_simple.tt field_label = 'Send to group' %]
[% END -%]

<label>Document: <input type="file" name="document" /></label>
